Django==2.1.2
django-cors-headers==2.4.0
django-crispy-forms==1.7.2
django-datatable==0.3.1
django-datatables-view==1.17.0
django-extensions==2.1.2
django-filter==2.0.0
django-haystack==2.8.1
django-tables==0.2
django-tables2==2.0.1
djangocms-installer==1.0.1
djangorestframework==3.8.2
djangorestframework-datatables==0.4.0
djqgrid==0.2.4
docutils==0.14
drf-haystack==1.8.4
idna==2.7
imagesize==1.1.0
jedi==0.13.2
Jinja2==2.10
Markdown==3.0.1
MarkupSafe==1.0
packaging==18.0
parso==0.3.1
pickleshare==0.7.5
prompt-toolkit==2.0.7
psycopg2==2.7.5
pycparser==2.18
Pygments==2.2.0
pyparsing==2.3.0
python-dateutil==2.7.3
pytz==2018.5
pyzmq==17.1.2
requests==2.20.0
six==1.11.0
snowballstemmer==1.2.1
text-unidecode==1.2
tornado==5.1.1
traitlets==4.3.2
tzlocal==1.5.1
urllib3==1.23
wcwidth==0.1.7
wincertstore==0.2
xlrd==1.2.0
